body,
html {
  margin: 0;
  height: 100%;
  background-color: #363634;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* start */
.selection-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #009b4d;
  padding: 20px 25px 25px;
  border-radius: 5px;
  width: 75%;
  max-width: 330px;
}
.selection-box header {
  font-family: "Audiowide", sans-serif;
  position: relative;
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 5px solid #ffcc00;
}
.selection-box .titleOfStart {
  font-family: "Audiowide", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}
.selection-box .option {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.option button {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 0;
  border-radius: 10px;
  outline: none;
  background-color: #ffcc00;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  box-shadow: 0 6px 0 rgb(5, 5, 5);
  margin-bottom: 6px;
}
.modeBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 0 rgb(5, 5, 5);
  background: #2b2a29;
  cursor: pointer;
}
.modeBtn:active {
  transform: translateY(2px);
  box-shadow: 0 4px 0 rgb(5, 5, 5);
  background: #faf5e9;
  cursor: pointer;
  color: black;
}

/* game */
.game {
  width: 504px;
  height: 504px;
  text-align: center;
  font-family: system-ui;
  color: white;
  margin: auto;
  font-weight: 500px;
}

.title {
  width: 500px;
  height: 80px;
  background-color: #009b4d;
  padding: 5px 0;
  margin: 2px;
}
.btn {
  width: 10%;
  padding: 3px 3px 3px 3px;
  border-radius: 10px;
  outline: none;
  background-color: #ffcc00;
  color: white;
  display: inline-block;
  box-shadow: 0 6px 0 rgb(5, 5, 5);
  margin: 15px 10px 10px 80%;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 0 rgb(5, 5, 5);
  background: #2b2a29;
  cursor: pointer;
}
.btn:active {
  transform: translateY(2px);
  color: black;
  box-shadow: 0 4px 0 rgb(5, 5, 5);
  background: #faf5e9;
  cursor: pointer;
}
#turn {
  color: #faf5e9;
  position: absolute;
  padding: 15px 20px;
  font-size: 40px;
  font-family: "Audiowide", sans-serif;
}
.square {
  width: 164px;
  height: 155px;
  background-color: #009b4d;
  float: left;
  margin: 2px;
  font-size: 100px;
  font-family: "Nerko One", cursive;
  text-shadow: 2px 3px #c7a003fb;
  font-weight: 50px;
}
.square:hover {
  background: rgb(5, 5, 5);
  cursor: pointer;
}

/* end*/
.endScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #faf5e9;
  transform: translate(-50%, -50%);
  background-color: #009b4d;
  padding: 20px 25px 25px;
  border-radius: 20px;
  max-width: 330px;
  width: 100%;
  font-size: 60px;
  font-family: "Nerko One", cursive;
  text-shadow: 2px 3px #c7a003fb;
  font-weight: 50px;
}
